logic/src/resources/predictions-v1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2008 rel. 2 (http://www.altova.com) by mazuki (darksiderg) -->
<!--W3C Schema generated by XMLSpy v2008 rel. 2 (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="PRD-world">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-evironment"/>
				<xs:element ref="PRD-entities"/>
				<xs:element ref="PRD-rules"/>
				<xs:element ref="PRD-termination"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-value">
		<xs:complexType>
			<xs:attribute name="random-initialize" type="xs:boolean" use="required"/>
			<xs:attribute name="init" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-then">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-action" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-termination">
		<xs:complexType>
			<xs:choice maxOccurs="2">
				<xs:element ref="PRD-by-ticks"/>
				<xs:element ref="PRD-by-second"/>
			</xs:choice>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-rules">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-rule" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-rule">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-actions"/>
				<xs:element ref="PRD-activation" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-range">
		<xs:complexType>
			<xs:attribute name="to" type="xs:double" use="required"/>
			<xs:attribute name="from" type="xs:double" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-name"/>
				<xs:element ref="PRD-range" minOccurs="0"/>
				<xs:element ref="PRD-value"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="decimal"/>
						<xs:enumeration value="float"/>
						<xs:enumeration value="string"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-properties">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-population" type="xs:int"/>
	<xs:element name="PRD-name" type="xs:string"/>
	<xs:element name="PRD-multiply">
		<xs:complexType>
			<xs:attribute name="arg2" type="xs:string" use="required"/>
			<xs:attribute name="arg1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-evironment">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-env-property" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-env-property">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-name"/>
				<xs:element ref="PRD-range" minOccurs="0"/>
			</xs:sequence>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="boolean"/>
						<xs:enumeration value="decimal"/>
						<xs:enumeration value="float"/>
						<xs:enumeration value="string"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-entity">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-population"/>
				<xs:element ref="PRD-properties"/>
			</xs:sequence>
			<xs:attribute name="name" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-entities">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-entity" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-else">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-action" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-divide">
		<xs:complexType>
			<xs:attribute name="arg2" type="xs:string" use="required"/>
			<xs:attribute name="arg1" type="xs:string" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-condition">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-condition" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="singularity" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="multiple"/>
						<xs:enumeration value="single"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="operator">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="!="/>
						<xs:enumeration value="="/>
						<xs:enumeration value="bt"/>
						<xs:enumeration value="lt"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="property" type="xs:string"/>
			<xs:attribute name="logical">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="and"/>
						<xs:enumeration value="or"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="entity" type="xs:string"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-by-ticks">
		<xs:complexType>
			<xs:attribute name="count" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-by-second">
		<xs:complexType>
			<xs:attribute name="count" type="xs:int" use="required"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-activation">
		<xs:complexType>
			<xs:attribute name="ticks" type="xs:int"/>
			<xs:attribute name="probability" type="xs:double"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-actions">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="PRD-action" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PRD-action">
		<xs:complexType>
			<xs:choice minOccurs="0">
				<xs:element ref="PRD-divide"/>
				<xs:element ref="PRD-multiply"/>
				<xs:sequence>
					<xs:element ref="PRD-condition"/>
					<xs:element ref="PRD-then"/>
					<xs:element ref="PRD-else" minOccurs="0"/>
				</xs:sequence>
			</xs:choice>
			<xs:attribute name="value" type="xs:string"/>
			<xs:attribute name="type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="calculation"/>
						<xs:enumeration value="condition"/>
						<xs:enumeration value="decrease"/>
						<xs:enumeration value="increase"/>
						<xs:enumeration value="kill"/>
						<xs:enumeration value="set"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="result-prop" type="xs:string"/>
			<xs:attribute name="property" type="xs:string"/>
			<xs:attribute name="entity" type="xs:string" use="required"/>
			<xs:attribute name="by" type="xs:string"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
